<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SteamPlaceholder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SteamPlaceholder.My.MySettings>
            <setting name="Command1" serializeAs="String">
                <value>start</value>
            </setting>
            <setting name="Command2" serializeAs="String">
                <value />
            </setting>
            <setting name="Command3" serializeAs="String">
                <value />
            </setting>
            <setting name="Command4" serializeAs="String">
                <value />
            </setting>
            <setting name="Program1" serializeAs="String">
                <value />
            </setting>
            <setting name="Program2" serializeAs="String">
                <value />
            </setting>
            <setting name="Program3" serializeAs="String">
                <value />
            </setting>
            <setting name="Program4" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentProblem" serializeAs="String">
                <value>11</value>
            </setting>
        </SteamPlaceholder.My.MySettings>
        <My.MySettings>
            <setting name="Command1" serializeAs="String">
                <value>start</value>
            </setting>
            <setting name="Command2" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Command3" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Command4" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Program1" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Program2" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Program3" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Program4" serializeAs="String">
                <value>
                </value>
            </setting>
        </My.MySettings>
    </userSettings>
</configuration>